<% layout("/layouts/boilerplate")%>
<body>
  <h1>All Listing</h1>

  <% let i = 1; %> <%for(let data of listingData){%>
  <ul>
    <li><a href="/listings/<%=data._id%>"> <%=data.title%></a></li>
  </ul>
  <%}%>
</body>
