<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Rental</title>
  </head>
  <body>
    <h1>Create a new Listing</h1>
    <form action="/listings" method="post">
      <input type="text" placeholder="Enter Title" name="listing[title]" />
      <br /><br />
      <textarea
        name="listing[description]"
        placeholder="Enter Description"
      ></textarea>
      <br /><br />
      <input
        type="text"
        name="listing[image]"
        placeholder="Enter Image URL/Link"
      />
      <br /><br />
      <input type="number" name="listing[price]" placeholder="Enter price" />
      <br /><br />
      <input
        type="text"
        name="listing[location]"
        placeholder="Enter location"
      />
      <br /><br />
      <input type="text" name="listing[country]" placeholder="Country name" />
      <br /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
