<% layout("/layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h1>Create a new Listing</h1>
      <br />
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            type="text"
            placeholder="Enter Title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks Good!</div>
          <div class="invalid-feedback">Please Enter A Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>

          <div class="invalid-feedback">
            Description Cannot Be Empty. Please Add Details.
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-lable">Image Link</label>
          <input
            class="form-control"
            type="text"
            name="listing[image]"
            placeholder="Enter Image URL"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-lable">Price</label>
          <input
            min="1"
            required
            type="price"
            name="listing[price]"
            placeholder="&#8377;8,000"
            class="form-control"
          />
          <div class="invalid-feedback">Please Enter A Valid Price</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            required
            type="text"
            name="listing[location]"
            class="form-control"
            placeholder="Jaipur, Rajasthan"
          />
          <div class="invalid-feedback">
            Location Is Required. Please Specify A Valid Location
          </div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-lable">Country</label>
          <input
            required
            type="text"
            name="listing[country]"
            placeholder="India"
            class="form-control"
          />
          <div class="invalid-feedback">
            Country Is Required. Please Specify A Valid Country
          </div>
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
