<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
  <p class="col-6 offset-4 title" style="font-size: xx-large; font-weight: 450">
    Login
  </p>
  <div class="col-6 offset-4 mt-2">
    <form
      action="/login"
      method="POST"
      class="needs-validation mt-4"
      novalidate
    >
      <div class="mb-3 input-field">
        <i class="fa-solid fa-user"></i>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3 input-field">
        <i class="fa-solid fa-lock"></i>
        <input
          placeholder="Password"
          type="password"
          name="password"
          id="password"
          required
        />
      </div>
      <button class="form-btn">Login</button>
    </form>
  </div>
</div>
