<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
  <p class="col-6 offset-4 mb-4 title">Sign-up</p>
  <div class="col-6 offset-4 mt-2">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3 input-field">
        <i class="fa-solid fa-user"></i>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter a username</div>
      </div>
      <div class="mb-3 input-field">
        <i
          class="fa-solid fa-envelope fa-rotate-by"
          style="--fa-rotate-angle: -10deg"
        ></i>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <div class="invalid-feedback">Please enter a email</div>
      </div>
      <div class="mb-3 input-field">
        <i class="fa-solid fa-lock"></i>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
        <div class="invalid-feedback">Please enter a password</div>
      </div>
      <button class="form-btn">SignUp</button>
    </form>
  </div>
</div>
